<!doctype html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/chat.css}" ref="../../css/chat.css"/>
</head>
<title>Chat</title>

<body>
<div class="container chat-container">
    <div id="content-ui" class="row" style="height: 100%; padding-top: 1%; padding-bottom: 1%; border-radius: 100px">
        <div class="col-md-3 d-none d-md-block" style="background-color: mediumslateblue; height: 100%; border-bottom-left-radius: 5px; border-top-left-radius: 5px">
            <h6 class="text-center pt-3" style="color: white;">Dev Stage <small>v-0.001</small></h6>
	    <div id="token"></div>
	    <div id="msg"></div>
	    <div id="notis"></div>
	    <div id="err"></div>
        </div>
        <div class="col-md-9" style="height: 100%;">
            <div class="row"
                 style="height: 94%; background-color:coral; border-top-right-radius: 5px;">
                <div id="message-list" class="container" style="margin: 12px; height: content-box; overflow-y: auto;">

                </div>
            </div>
            <div class="row" style="height: 6%; min-height: 50px; background-color: aquamarine; border-bottom-right-radius: 5px">
                <input placeholder="Escribe tu mensaje..." id="message-box" name="message" type="text" style="margin: 5px; border-radius: 12px;"
                       class="form-control">
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.5/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/js/app.js}"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script>
  var config = {
      apiKey: "AIzaSyBmd9eUTuivbqx516eSUe8VEIe03pgYICw",
      authDomain: "plazeapp-1525704179068.firebaseapp.com",
      databaseURL: "https://plazeapp-1525704179068.firebaseio.com",
      projectId: "plazeapp-1525704179068",
      storageBucket: "plazeapp-1525704179068.appspot.com",
      messagingSenderId: "966627752073"
  };
  firebase.initializeApp(config);

  var messaging = firebase.messaging();

  //messaging.usePublicVapidKey('BFmY1Gq402nTDQV1hvLa-qIwA02GeGqrpUhuWwnbi8wGC57q3gt-PpjC7Bvu1yG1VK29iaXjbXndza2JQ2sgsrU');
  
  messaging.onTokenRefresh(function() {
    messaging.getToken().then(function(refreshedToken) {
      console.log('Token refreshed.');
      setTokenSentToServer(false);
      sendTokenToServer(refreshedToken);
      requestPermision();
      console.log(refreshedToken)
    }).catch(function(err) {
      console.log('Unable to retrieve refreshed token ', err);
    });
  });

  messaging.onMessage(function(payload) {
    console.log('Message received. ', payload);
    showGreeting(payload.notification.body)
  });
  
 function requestPermision() {
        messaging
            .requestPermission()
            .then(function () {
                MsgElem.innerHTML = "Notification permission granted.";
                console.log("Notification permission granted.");
            })
            .catch(function (err) {
                ErrElem.innerHTML = ErrElem.innerHTML + "; " + err;
                console.log("Unable to get permission to notify.", err);
            });
    }

  function resetUI() {
    messaging.getToken().then(function(currentToken) {
      if (currentToken) {
        sendTokenToServer(currentToken);
        console.log(currentToken)
      } else {
        // Show permission request.
        console.log('No Instance ID token available. Request permission to generate one.');
        // Show permission UI.
        setTokenSentToServer(false);
      }
    }).catch(function(err) {
      console.log('An error occurred while retrieving token. ', err);
      setTokenSentToServer(false);
    });
  }
  
  function sendTokenToServer(currentToken) {
    if (!isTokenSentToServer()) {
      console.log('Sending token to server...');
      setTokenSentToServer(true);
    } else {
      console.log('Token already sent to server so won\'t send it again ' +
          'unless it changes');
    }
  }

  function isTokenSentToServer() {
    return window.localStorage.getItem('sentToServer') === 1;
  }

  function setTokenSentToServer(sent) {
    window.localStorage.setItem('sentToServer', sent ? 1 : 0);
  }

  function requestPermission() {
    console.log('Requesting permission...');
    messaging.requestPermission().then(function() {
      console.log('Notification permission granted.');
      resetUI();
    }).catch(function(err) {
      console.log('Unable to get permission to notify.', err);
    });
  }

  function deleteToken() {
    messaging.getToken().then(function(currentToken) {
      messaging.deleteToken(currentToken).then(function() {
        console.log('Token deleted.');
        setTokenSentToServer(false);
        resetUI();
      }).catch(function(err) {
        console.log('Unable to delete token. ', err);
      });
    }).catch(function(err) {
      console.log('Error retrieving Instance ID token. ', err);
      showToken('Error retrieving Instance ID token. ', err);
    });
  }

  resetUI();
</script>
</body>
</html>
